networks:
  internal:
    driver: bridge

volumes:
  media_volume:
  static_volume:
  sqlite_volume:

services:
  backend:
    container_name: backend
    build:
      context: ../../
      dockerfile: Dockerfile
    volumes:
      - media_volume:/app/media
      - static_volume:/app/static
      - sqlite_volume:/app/db
    expose:
      - 8000
    networks:
      - internal
    env_file: /etc/snap-ai/.env

  nginx:
    image: nginx:latest
    networks:
      - internal
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ../../index.html:/usr/share/nginx/html/index.html:ro
      - media_volume:/app/media
      - static_volume:/app/static
    depends_on:
      - backend
